<h1>Welcome to Mister Cocktail!</h1>
<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
  <p><%= cocktail.name %></p>
<%end%>

<style>
h1, h2, h3 {
    text-align: center;
}
</style>
